/* RESET */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* UTLITY */
.white{
    color: white;
}

.blu{
    color: #0384fd;
}

.purple{
    color: #9792e4;
}

.yellow{
    color: #fdc15f;
}

.light-grey{
    color: lightgray;
}

.size{
    font-size: 2em;
}

.size-5em{
    font-size: 5em;
}

.align{
    text-align: center;
}

.margin-b{
    margin-bottom: 20px;
}

.padding-b{
    padding-bottom: 20px;
}

.button-b{
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    border-radius: 20px;
    background-color: #0384fd;
    border: 0;

}

.button-v{
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
    background-color: #9792e4;
    border: 0;
    font-size: 1em;
}

.button-w{
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: white;
    border: 0;
    font-size: 1em;
}

/* HEADER */

.nav-bar{
    background-color: #0384fd;
    width: 100%;
}

.container{
    width: 80%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 0;
}

.menu-xl{
    display: none;
}

.menu-xl ul{
    display: flex;
    list-style-type: none;
}

.menu-xl ul li{
    margin-left: 1em;
    color: white;
}

.menu-list{
    display: flex;
    align-items: center;
}

/* RESPONSIVE AREA HEADER */

@media screen and (min-width: 992px) {
    .menu-icon{
        display: none;
    }

    .menu-xl{
        display: block;
    }
    
}
/* /RESPONSIVE AREA HEADER */


/* MAIN */

/* section card 1  */

.demo-application{
    width: 80%;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #b5ddff;
    width: 100%;
    justify-content: center;
    border-radius: 20px;
    margin: 20px 0 20px 0;
}

.cards{
    margin-bottom: 20px;
}

.card-title{
    margin-bottom: 15px;
}

.card-description{
    width: 80%;
}

.text-first-s{
    padding: 10px 20px 10px 20px;
    
}

.description-first-s{
    padding: 0 10px 10px 10px;
}

.image-first-s{
    display: flex;
    justify-content: center;
}

.image-first-s img{
    width: 30vw;
    justify-content: center;
    justify-content: flex-end;
}

/* RESPONSIVE AREA MAIN section 1 */
/* tablet */
    @media screen and (min-width: 768px) {
        .cards{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .card{
            margin: 20px 0px 0px 19px;
            width: calc(100% / 3 - 25px);
            justify-content: space-between;
        }

        .card:first-child{
            width: calc(100% / 3 * 2 - 22px);
        }
        
        .image-first-s{
            justify-content: flex-start;
        }


    }
    /* monitor */
    @media screen and (min-width: 992px) {
        .card:first-child{
            flex-direction: row;
        }

        .text-first-s {
            width: 100%;
        } 
        .image-first-s img{
            align-items: flex-end;
            width: 100%;
        }
    }

/* section card 2  */

.strategic-planning{
    background-color: #9792e4;
    width: 100%;
    padding: 20px 0 20px 0;
}

.section-sp{
    width: 80%;
    margin: 0 auto;
}

.item-sp{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.item-image-sp{
    width: 100%;
}
.item-text-sp{
    width: 90%;
    margin: 0 auto;
}

.card-sp{
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
}

.card-sp-image{
    padding: 10px;
    width: 100%;
    margin: 0 auto;
}

.img-planning-l{
    width: 100%;
}

.img-planning-s{
    width: 100%;
}

.card-sp-text{
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}

.align-c{
    text-align: center;
    width: 100%;
}

.card-sp-description{
    margin-top: 20px;
    margin-bottom: 50px;
}

.arrow-icon{
    background-color: #9792e4;
    border-radius: 50%;
    display: block;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

/* RESPONSIVE AREA MAIN section 2 */

@media screen and (min-width:992px) {
    .section-sp{
        display: flex;
    }
}

/* section 3 */

.expert{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.exp-title{
    margin: 40px 0 40px 0;
}

.section-exp-text{
    text-align: center;
    margin-top: 10px;
}

.section-exp-card{
    background-color: #9792e4;
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    text-align: center;
}

.exp-card-img{
    padding: 10px;
    margin: 0 auto;
}

.exp-card-text{
    padding: 10px;
}

.testimonial-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

/* RESPONSIVE AREA MAIN section 3 */

@media screen and (min-width:768px) {
    .section-exp-card{
        flex-direction: row;
        text-align: left;
    }

    .exp-card-name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 30px;
        width: 60%;
        margin-right: 20px;
    }

    .exp-card-text{
        padding: 10px 0 10px 0;
    }
}

/* section 4 */

.benefits{
    width: 100%;
    background-color: #9792e4;
    padding-bottom: 20px;
}

.section-benefits{
    width: 80%;
    margin: 0 auto;
}

.benefits-text{
    padding: 10px 0 10px 0;
    text-align: center;
}

.benefits-card{
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin: 10px 0 10px 0;
}

/* RESPONSIVE AREA MAIN section 4 */

@media screen and (min-width:768px) {
    .section-benefits{
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-card{
        width: calc(100% / 2 - 20px);
        margin: 10px 10px 10px 10px;
    }


}

@media screen and (min-width:992px) {
    .benefits-card{
        width: calc(100% / 3 - 20px);
    }
}



/* section 5 */
.about{
    width: 80%;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

.about-text{
    margin-bottom: 10px;
    width: 100%;
}

.about-img{
    width: 100%;
}

/* RESPONSIVE AREA MAIN section 5 */

@media screen and (min-width:768px) {
    .about{
        display: flex;
        justify-content: space-between;
    }

    .about-text{
        margin-bottom: 0%;
        margin-right: 10px;
    }
}

/* section 6 */

.cta{
    background-color: #9792e4;
    width: 100%;
}

.cta-section{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 20px 0;
}

/* FOOTER */
footer{
    width: 100%;
    background-color: #333333;
    padding: 20px 0 20px 0;
}

.footer-section{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.footer-text-up{
    margin-bottom: 35px;
}