/* RESET */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* UTLITY */
.white{
    color: white;
}

.size{
    font-size: 1.5em;
}

/* HEADER */

.nav-bar{
    background-color: #0384fd;
    width: 100%;
    
}

.container{
    width: 80%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 0;
}

.menu-xl{
    display: none;
}

.menu-xl ul{
    display: flex;
    list-style-type: none;
}

.menu-xl ul li{
    margin-left: 1em;
    color: white;
}

/* RESPONSIVE AREA HEADER */

@media screen and (min-width: 992px) {
    .menu-icon{
        display: none;
    }

    .menu-xl{
        display: block;
    }
    
}
/* /RESPONSIVE AREA HEADER */


/* MAIN */

/* section card 1  */

.demo-application{
    width: 80%;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}



.card{
    background-color: #0384fd;
    margin: 0 0 10px 0;
    width: calc(100% / 3 - 12px);
    border-radius: 20px;
}

.card:first-child{
    width: calc(100% / 3 * 2 - 6px);
}

.text-first-s{
    padding: 10px;
    
}

.image-first-s{
    padding: 10px;
}

/* RESPONSIVE AREA MAIN section 1 */

    @media screen and (max-width: 991px) {
        .cards{
            display: flex;
            flex-direction: column;
        }

        .card{
            width: 100%;
        }

        .card:first-child{
            width: 100%;
        }
    }

/* section card 2  */

.strategic-planning{
    background-color: #9792e4;
    width: 100%;
    padding: 20px 0 20px 0;
}

.section-sp{
    width: 80%;
    margin: 0 auto;
}

.item-sp{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.item-image-sp{

    /* DUBUG */
    background-color: aquamarine;
}
.item-text-sp{

     /* DUBUG */
     background-color: blanchedalmond;
}

.card-sp{
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}

.card-sp-image{
    padding: 10px;
}

.card-sp-text{
    padding: 10px;
}

/* RESPONSIVE AREA MAIN section 2 */

@media screen and (min-width:992px) {
    .section-sp{
        display: flex;
    }
}

/* section 3 */

.expert{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.section-exp-text{
    text-align: center;
    margin-top: 10px;
}

.section-exp-card{
    background-color: #9792e4;
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    text-align: center;
}

.exp-card-img{
    padding: 10px;
}

.exp-card-text{
    padding: 10px;
}

/* RESPONSIVE AREA MAIN section 3 */

@media screen and (min-width:992px) {
    .section-exp-card{
        flex-direction: row;
    }
}

/* section 4 */

.benefits{
    width: 100%;
    background-color: #9792e4;
    padding-bottom: 20px;
}

.section-benefits{
    width: 80%;
    margin: 0 auto;
}

.benefits-text{
    padding: 10px 0 10px 0;
    text-align: center;
}

.benefits-card{
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin: 10px 0 10px 0;
}

/* RESPONSIVE AREA MAIN section 4 */

@media screen and (min-width:992px) {
    .section-benefits{
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-card{
        width: calc(100% / 2 - 20px);
        margin: 10px 10px 10px 10px;
    }


}

/* section 5 */
.about{
    width: 80%;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

.about-text{
    margin-bottom: 10px;

    /* DEBUG */
    background-color: aquamarine;
}

.about-img{

    /* DEBUG */
    background-color: brown;
}

@media screen and (min-width:992px) {
    .about{
        display: flex;
        justify-content: space-between;
    }

    .about-text{
        margin-bottom: 0%;
        margin-right: 10px;
    }
}

/* section 6 */

.cta{
    background-color: #9792e4;
    width: 100%;
}

.cta-section{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 20px 0;
}

/* FOOTER */
footer{
    width: 100%;
    background-color: #333333;
    padding: 20px 0 20px 0;
}

.footer-section{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.footer-text-up{
    margin-bottom: 35px;
}



